<!DOCTYPE html>
<html>
<head>
    <title>Picket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/picket.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <%= yield %>
    </div> <!-- /container -->
</body>
</html>